// PARAMETERS
params  {

    input               = "sampleList.csv"
    outdir              = "results"
    mode                = "mapping"

    reference           = "ref/gbs_genomes.fasta"
    seqtype_reference   = "ref/NZ_CP012480.1.fasta"
    metaphlan4_db       = "/path/to/metaphlan4_db"
    kraken2_db          = "/path/to/kraken2_db"
    gtdb                = "https://data.gtdb.ecogenomic.org/releases/release214/214.0/auxillary_files/gtdbtk_r214_data.tar.gz"

    enable_conda        = false
    debug               = false

}

// PROFILES
profiles {

    // -profile conda
    conda {
        params.enable_conda     = false
        docker.enabled          = false
    }
    // -profile docker
    docker {
        docker.enabled          = true
        docker.userEmulation    = true
    }

}

// NEXTFLOW PROCESS
process {

    cpus        = 16
    memory      = 256.GB
    time        = 24.h

}

// NEXTFLOW MANIFEST
manifest {
    name            = 'GBS METAGENOMICS PIPELINE'
    homePage        = 'https://github.com/kaehwan/metaG'
    author          = 'Kae Hwan Sim'
    description     = 'Metagenomic-based analysis workflow for foodborne Group B Streptococcus pathogen'
    mainScript      = 'main.nf'
    version         = '0.1.0'
    nextflowVersion = '22.04.5'
}

// TIMELINE, REPORT, TRACE AND DAG
timeline {
  enabled = true
  file = "${params.outdir}/pipeline-timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline-report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline-trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline-dag.png"
}
